:host {
  width: 100%;
}

#dropdown-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  border: none;
  background-color: inherit;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  font-size: medium;
  text-align: left;
}

#dropdown-button:hover,
#dropdown-button:focus {
  background-color: light-dark(var(--primary-dark), var(--primary-light));
}

#dropdown-button > app-icon {
  transition: rotate 300ms ease;
}

#dropdown-button.visible > app-icon {
  rotate: 90deg;
}

#dropdown-menu {
  width: 100%;
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding-left: 1rem;
  transition: max-height 500ms ease;
}

#dropdown-menu.visible {
  max-height: var(--dropdown-menu-height, 500px);
  opacity: 1;
}
