<h1>What is <span class="app-title"></span>?</h1>
<p>
  <span class="app-title"></span> is a simple front-end library developed in an
  effort to get back to the basics.
</p>
<p>
  It does not rely on external libraries and is easily integrated with build
  tools.
</p>
<p>
  Development on Sapling is ongoing. View the source code
  <a class="source-code-link" target="_blank">here</a>.
</p>
<br />
<p>What is <span class="app-title"></span> capable of? Take a look around!</p>
<p>
  This site was written with <span class="app-title"></span> and built with
  <a href="https://vite.dev/" target="_blank">Vite</a>. You can find the source
  code <a class="documentation-source-code-link" target="_blank">here</a>.
</p>

<br />

<h1>Getting Started</h1>
<p>
  To begin, visit <a class="npm-link" target="_blank">npm</a> or run
  <app-code-snippet>npm install @craiglington/sapling</app-code-snippet> in a
  local directory.
</p>

<br />

<h1>Documentation</h1>
<p>
  Don't worry! You can also see this list in the menu located in the header.
</p>
<h2>Component Driven Development</h2>
<ul>
  <li>
    <app-router-link route="/sapling/component">Component</app-router-link>:
    Create components and add them to the custom element registry.
  </li>
</ul>
<h2>Reactivity</h2>
<ul>
  <li>
    <app-router-link route="/observable">Observable</app-router-link>: Notify
    subscribers with values or events.
  </li>
  <li>
    <app-router-link route="/subject">Subject</app-router-link>: An Observable
    with state.
  </li>
  <li>
    <app-router-link route="/state">State</app-router-link>: A state container
    made with Subjects.
  </li>
  <li>
    <app-router-link route="/value">Value</app-router-link>: One-way data
    binding from variables to element properties, attributes, and classes.
  </li>
</ul>
<h2>Single-Page Application</h2>
<ul>
  <li>
    <app-router-link route="/router">Router</app-router-link>: Define URL routes
    and inject Components directly into the DOM.
  </li>
</ul>
