:host {
  display: contents;
}

#side-nav-component {
  height: 100%;
  transition: padding-left 300ms ease;
}

#side-nav-background {
  display: none;
  position: fixed;
  width: 100%;
  height: calc(100% - 55px);
  top: 55px;
  left: 0;
  background: var(--primary-darker);
  opacity: 0.5;
  z-index: 1;
}

#side-nav {
  position: fixed;
  overflow: auto;
  width: 275px;
  height: calc(100% - 55px);
  top: 55px;
  left: -276px;
  background: var(--primary);
  border-right: 1px solid var(--primary-darker);
  transition:
    left 300ms ease,
    width 300ms ease;
  z-index: 2;
}

#side-nav-component.show-side-nav > #side-nav {
  left: 0px;
}

@media screen and (min-width: 1000px) {
  #side-nav-component.show-side-nav {
    padding-left: 275px;
  }
}

@media screen and (max-width: 999px) {
  #side-nav-component.show-side-nav > #side-nav-background {
    display: block;
  }

  #side-nav-component.show-side-nav > #side-nav {
    width: clamp(180px, 75%, 400px);
  }
}
