:host {
  position: relative;
  transition: padding-left 300ms ease;
  box-sizing: border-box;
}

#side-nav-container {
  width: 100%;
}

#side-nav-background {
  display: none;
  position: fixed;
  width: 100dvw;
  height: calc(100dvh - 55px);
  top: 55px;
  left: 0;
  background: var(--primary-darker);
  opacity: 0.5;
}

#side-nav {
  position: fixed;
  overflow: auto;
  width: 275px;
  height: calc(100dvh - 55px);
  top: 55px;
  left: -276px;
  background: var(--primary);
  border-right: 1px solid var(--primary-darker);
  transition:
    left 300ms ease,
    width 300ms ease;
}

#side-nav.show-side-nav {
  left: 0px;
}

@media screen and (min-width: 1000px) {
  :host(.show-side-nav) {
    padding-left: 275px;
  }
}

@media screen and (max-width: 999px) {
  #side-nav-background.show-side-nav {
    display: block;
  }

  #side-nav.show-side-nav {
    width: clamp(180px, 75%, 400px);
  }
}
