:host {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

app-header {
  height: 55px;
}

main {
  width: 100dvw;
  height: calc(100dvh - 55px);
  overflow: auto;
}

app-dropdown-menu > app-router-link {
  width: 100%;
}

app-dropdown-menu > app-router-link:hover,
app-dropdown-menu > app-router-link:focus {
  background-color: light-dark(var(--primary-dark), var(--primary-light));
}

.dropdown-button {
  width: 100%;
  min-height: 34px;
  outline: none;
  border: none;
  background-color: inherit;
  box-sizing: border-box;
  padding: 5px;
  font-size: medium;
  text-align: left;
}
