<app-header></app-header>
<main class="spacer">
  <app-side-nav>
    <div id="side-nav" slot="side-nav">
      <app-dropdown-menu dropdown-title="Sapling" dropdown-height="102px">
        <app-dropdown-menu
          dropdown-title="Getting Started"
          dropdown-height="100px"></app-dropdown-menu>
        <app-dropdown-menu dropdown-title="Component"></app-dropdown-menu>
        <app-dropdown-menu dropdown-title="Reactivity" dropdown-height="100px">
        </app-dropdown-menu>
      </app-dropdown-menu>
      <app-dropdown-menu
        dropdown-title="Sapling Components"
        dropdown-height="102px">
        <p>test one</p>
        <p>test two</p>
      </app-dropdown-menu>
    </div>
    <app-router></app-router>
    <div class="spacer"></div>
    <app-footer></app-footer>
  </app-side-nav>
</main>
