<app-header></app-header>
<main class="spacer">
  <app-side-nav>
    <div id="side-nav" slot="side-nav">
      <!-- SAPLING -->
      <app-dropdown-menu title="Sapling">
        <button class="dropdown-button">Getting Started</button>
        <button class="dropdown-button">Component</button>
        <app-dropdown-menu title="Reactivity">
          <button class="dropdown-button">Observable</button>
          <button class="dropdown-button">Subject</button>
          <button class="dropdown-button">State</button>
          <button class="dropdown-button">Value</button>
        </app-dropdown-menu>
        <button class="dropdown-button">Router</button>
      </app-dropdown-menu>

      <!-- SAPLING COMPONENT LIBRARY -->
      <app-dropdown-menu title="Sapling Component Library" height="1000px">
        <button class="dropdown-button">Button</button>
        <button class="dropdown-button">Code Block</button>
        <button class="dropdown-button">Code Snippet</button>
        <button class="dropdown-button">Divider</button>
        <button class="dropdown-button">Dropdown Menu</button>
        <button class="dropdown-button">Icon</button>
        <button class="dropdown-button">Menu</button>
        <button class="dropdown-button">Side Nav</button>
        <button class="dropdown-button">Tooltip</button>
      </app-dropdown-menu>
    </div>
    <app-router></app-router>
    <div class="spacer"></div>
    <app-footer></app-footer>
  </app-side-nav>
</main>
