:host {
  z-index: var(--modal-z-index);
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
}

#menu-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-sizing: border-box;
  padding: 8px 0px;
  background-color: light-dark(var(--primary-dark), var(--primary-light));
  border-radius: var(--border-radius);
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
