<h1>Component</h1>
<app-divider></app-divider>
<h2>Overview</h2>
<p>
  A Component is an extension of an
  <a
    href="https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement"
    target="_blank"
    >HTMLElement</a
  >. It can be extended to create custom HTML elements.
</p>
<p>
  When creating a Component, a template must be provided. Style sheets can also
  be provided. Because web components create a shadow DOM, style sheets will not
  affect elements outside of that component.
</p>
<p>
  Additionally, every custom Component must be added to the custom element
  registry. This makes a component available for use within a template.
</p>
<p>
  In the following example,
  <app-code-snippet
    >&lt;app-custom-component&gt;&lt;/app-custom-component&gt;</app-code-snippet
  >
  is now a valid html element.
</p>

<!-- prettier-ignore -->
<app-code-block>
class CustomComponent extends Component {
  constructor() {
    super({
      templateUrl: "/src/components/custom/custom.component.html",
      styleUrls: ["/src/components/custom/custom.component.css"]
    });
  }
}

window.customElements.define("app-custom-component", CustomComponent);

</app-code-block>
<p>
  Finally, all custom Components can implement certain lifecycle callbacks. For
  this and more information regarding custom HTML elements, view the
  <a
    target="_blank"
    href="https://developer.mozilla.org/en-US/docs/Web/API/Web_components/Using_custom_elements"
    >guide</a
  >
  available at MDN.
</p>

<h2>API</h2>
