<header>
  <button id="menu-button" class="icon-button">
    <app-icon></app-icon>
  </button>
  <app-tooltip id="menu-tooltip"></app-tooltip>
  <app-menu id="dropdown-menu">
    <button id="getting-started">Getting Started</button>
    <button>&nbsp;&nbsp;Observable</button>
    <button>&nbsp;&nbsp;Subject</button>
    <button>&nbsp;&nbsp;Value</button>
    <button>&nbsp;&nbsp;Component</button>
    <button>&nbsp;&nbsp;State</button>
    <button>&nbsp;&nbsp;Router</button>
  </app-menu>

  <button id="home-button" class="icon-button"></button>
  <app-tooltip id="home-tooltip"></app-tooltip>

  <span class="spacer"></span>

  <button id="theme-button" class="icon-button">
    <app-icon></app-icon>
  </button>
  <app-tooltip id="theme-tooltip"></app-tooltip>

  <button id="search-button" class="icon-button">
    <app-icon></app-icon>
  </button>
  <app-tooltip id="search-tooltip"></app-tooltip>
</header>
