header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--primary-dark);
  box-sizing: border-box;
  padding: 5px;
  border-bottom: 1px solid var(--primary-darkest);
}

#home-button {
  font-size: large;
}

#dropdown-menu button:nth-of-type(n + 2) {
  font-size: small;
}
