<app-menu id="menu">
  <button class="menu-item">Account Details</button>
  <button class="menu-item">Contact Us</button>
  <button class="menu-item">Logout</button>
</app-menu>

<header>
  <button id="menu-button" class="icon-button">
    <app-icon></app-icon>
  </button>
  <button id="home-button" class="icon-button">
    <app-icon></app-icon>
  </button>
  <button id="search-button" class="icon-button">
    <app-icon></app-icon>
  </button>
  <span id="title"></span>
  <span class="spacer"></span>
  <button id="theme-button" class="icon-button">
    <app-icon id="light"></app-icon>
    <app-icon id="dark"></app-icon>
  </button>
</header>
