<footer>
  <div class="footer-section">
    <h3 id="app-title"></h3>
    <app-divider></app-divider>
    <p id="app-slogan"></p>
    <p>
      View our privacy policy <a id="privacy-link" target="_blank">here</a>.
    </p>
  </div>
  <div class="footer-section">
    <h3>Google Books</h3>
    <app-divider></app-divider>
    <p>Book collection powered by Google Books.</p>
    <p>
      View their website
      <a href="https://books.google.com/" target="_blank">here</a>.
    </p>
  </div>
  <div class="footer-section">
    <h3>Contact</h3>
    <app-divider></app-divider>
    <p><a id="contact-link"></a></p>
    <p>Expect a response within the week.</p>
  </div>
  <div class="footer-section">
    <h3>About</h3>
    <app-divider></app-divider>
    <p>
      Created for my wife because she loves to read.
      <em id="hidden-message">P.S. I love you.</em>
    </p>
    <p>Est. 2024</p>
  </div>
</footer>
