<footer>
  <div class="footer-section">
    <h3 id="app-title"></h3>
    <app-divider></app-divider>
    <p id="app-slogan"></p>
    <p>Available at <a id="npm-link" target="_blank">npm</a></p>
  </div>
  <div class="footer-section">
    <h3>GitHub</h3>
    <app-divider></app-divider>
    <p>Sapling <a id="source-link" target="_blank">source code</a></p>
    <p>Sapling documentation <a id="documentation-link" target="_blank">source code</a></p></p>
  </div>
  <div class="footer-section">
    <h3>Contact</h3>
    <app-divider></app-divider>
    <p><a id="contact-link"></a></p>
    <p>Expect a response within the week</p>
  </div>
  <div class="footer-section">
    <h3>About</h3>
    <app-divider></app-divider>
    <p>Est. 2025</p>
    <p>Created with Sapling</p>
  </div>
</footer>
