@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

/* THEME */
:root {
  color-scheme: dark;
  --primary-lightest: #313538;
  --primary-lighter: #292d30;
  --primary-light: #212528;
  --primary: #191d20;
  --primary-dark: #111518;
  --primary-darker: #090d10;
  --primary-darkest: #010508;

  --secondary-lightest: #d5ffee;
  --secondary-lighter: #cdffe6;
  --secondary-light: #c5ffde;
  --secondary: #bdffd6;
  --secondary-dark: #b5f7ce;
  --secondary-darker: #adefc6;
  --secondary-darkest: #a5e7be;

  --font-family: "Raleway", serif;
  --font-weight: 400;

  --border-radius: 5px;

  --modal-z-index: 100;
}

:root.light {
  color-scheme: light;

  --primary-lightest: #d5ffee;
  --primary-lighter: #cdffe6;
  --primary-light: #c5ffde;
  --primary: #bdffd6;
  --primary-dark: #b5f7ce;
  --primary-darker: #adefc6;
  --primary-darkest: #a5e7be;

  --secondary-lightest: #313538;
  --secondary-lighter: #292d30;
  --secondary-light: #212528;
  --secondary: #191d20;
  --secondary-dark: #111518;
  --secondary-darker: #090d10;
  --secondary-darkest: #010508;
}

body {
  height: 100vh;
  margin: 0;
  background-color: var(--primary);
  color: var(--secondary);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

a {
  color: var(--secondary);
}

button {
  color: var(--secondary);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  cursor: pointer;
  box-sizing: border-box;
  padding: 1em;
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

main#app-main {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.icon-button {
  border-radius: 50%;
  border: none;
  background-color: inherit;
  width: 44px;
  height: 44px;
  padding: 10px;
}

.icon-button:hover {
  background-color: light-dark(var(--primary-darkest), var(--primary-light));
}

.outlined-button {
  border-radius: 9999px;
  background-color: var(--primary);
  outline: none;
  border: solid 1px var(--secondary);
}

.outlined-button:hover {
  background-color: light-dark(var(--primary-darker), var(--primary-lighter));
}

.filled-button {
  border-radius: 9999px;
  background-color: var(--secondary);
  color: var(--primary);
  outline: none;
  border: none;
}

.filled-button:hover {
  background-color: light-dark(
    var(--secondary-lightest),
    var(--secondary-darkest)
  );
}
